.side {
    background-color: green;
    grid-area: sd;
}

.messages a {
text-decoration: none;
color: aliceblue;
}

.sidebar h5 {
    color: aliceblue;
}

.messages {
    display: grid;
    flex-direction: column;
}
